/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f7f7f7; /* Light gray background color */
    color: #333;
    line-height: 1.6;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

/* Section Styles */
section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
    border-bottom: 2px solid #007BFF;
    display: inline-block;
}

/* About Section */
#about img {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Skills Section */
#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

#skills li:hover {
    color: #fff;
    background-color: #007BFF;
    cursor: pointer;
}

/* Project Section */
.project {
    margin: 20px 0;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Resume Section */
#resume a {
    display: inline-block;
    background: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#resume a:hover {
    background-color: #0056b3;
}

/* Contact Section */
#contact p {
    font-size: 1.1em;
    margin: 10px 0;
}

#contact a {
    color: #007BFF;
}

/* Responsive Styles */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    section {
        margin: 10px 0;
        padding: 10px;
    }

    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    section h2 {
        font-size: 1.5em;
    }
}
